<%= form_for(OriginalUrl.new, remote: true) do |f| %>
  <%= token_tag(nil) %>
  <% if logged_in? %>
  <div id="original-url-form-group" class="form-group row">
    <div class="col-sm-12">
      <%= f.text_field :long_url, class: 'form-control landing-text-field',
          placeholder: 'url e.g. shotnr.com', required: true %>
      <label id="original-url-string-status" class="form-control-label"></label>
    </div>
  </div>
  <div id="vanity-string-form-group" class="form-group row">
    <div class="col-sm-10">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">shotnr.com/</span>
        <%= f.text_field :vanity_string, class: 'form-control',
          placeholder: 'optional custom url e.g. andela', id: 'vanity_string' %>
      </div>
    </div>
    <div class="col-sm-2">
      <%= f.submit "shotn!", class: 'btn btn-success btn-block' %>
    </div>
    <label id="vanity-string-status" for="vanityStringStatus" class="form-control-label"></label>
  </div>
  <% else %>
    <div class="form-group">
      <div class="input-group">
        <%= f.text_field :long_url, class: 'form-control landing-text-field',
          placeholder: 'url e.g. shotnr.com', required: true %>
        <span class="input-group-btn">
          <%= f.submit "shotn!", class: 'btn btn-success' %>
        </span>
      </div>
      <label id="original-url-string-status" class="form-control-label"></label>
    </div>
  <% end %>
<% end %>
