<!DOCTYPE html>
<html>
<head>
  <title>Shotnr</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <%= render 'layouts/navbar' %>
        <%flash.each do |msg_type, msg|%>
          <div class="alert alert-<%= msg_type %> alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <%= msg %>
          </div>
        <% end %>
        <%= yield %>
        <%= render 'layouts/footer' %>
      </div>
    </div>
  </div>
</body>
</html>
